{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<h1>Formulaire de Contact</h1>

	{{ form_start(formContact) }}
	{{ form_row(formContact.name) }}
	{{ form_row(formContact.email) }}
	{{ form_row(formContact.subject) }}
	{{ form_row(formContact.message) }}


	<button type="submit" class="btn btn-primary">Envoyer</button>
	{{ form_end(formContact) }}
{% endblock %}
